*.pyc
*.pdf
*.keras
*.vscode
data_scrapper.log
*.json
*checkpoint*
*.log
.venv
uat_ia.egg-info
.env
*.sql
*.sq
*.txt

!data/UAT-filtered.json
!data/UAT-original.json
!data/UAT-pretty.json
!init.sql
!requierements.txt
